header {
    background-color:gray;
    color:white;
    text-align:center;
    padding:5px;
    width:auto;
    border:solid 0px red;	 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:650px;
    width:400px;
    float:left;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}